.resumeCardPallete {
    display: flex;
    gap: 2rem;
}

.serialNumberStyler {
    min-width: 3.8rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.styler-circle {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    box-shadow: 0 0 0.8rem 0.2rem #93ffe5;
    background-color: var(--green);
    opacity: 0.7;
    transform: translateY(75%);
    z-index: 1;
}

.styler-line {
    content: "";
    position: absolute;
    border-left: 0.1px solid #394965;
    border-right: 0.1px solid #394965;
    height: calc(100% - 0.8rem);
    transform: translateY(1.4rem);
}

.resumeCardPallete--info {
    display: flex;
    flex-direction: column;
}

.resumeCardPallete--info--title {
    margin: 0;
    font-size: var(--fs-20);
    font-weight: 500;
    color: var(--white);
    line-height: 1;
    margin-bottom: 0.5rem;
}

.resumeCardPallete--info span {
    color: var(--slate);
    font-size: var(--fs-14);
}

.resumeCardPallete--info p {
    margin-top: 0.8rem;
}

.resumeCardPallete--info h4 {
    color: var(--green);
    font-size: var(--fs-16);
    font-weight: 400;
    margin: 0;
    opacity: 0.9;
}