/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1248 ie 78 * 16 (Smaller desktops) */
/**************************/

@media(max-width: 78em) {

    .grid--2-col {
        grid-template-columns: 1fr;
        row-gap: 3rem;
        min-width: 0;

    }

    .container {
        max-width: 90rem;
        margin: 6.4rem auto;
    }

    /* ASIDE FIGURE GOES TO TOP */

    .intro-pos {
        position: unset;
        height: auto;
    }

    .introduction {
        width: 100%;
        /* flex-direction: row;
        justify-content: space-between; */
        padding: 1rem 0;
        /* display: flex; */
        gap: 0;
        /* padding-left: 2rem; */
    }

    .introduction--top-box--details {
        margin-bottom: 0.5rem;
    }

    .icon-box {
        flex-direction: column;
    }

    .introduction--top-box {
        flex-direction: row;
        gap: 2rem;
        justify-self: flex-start;
        align-self: flex-start;
        padding: 2rem 3rem;
    }

    .show-contact-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        gap: var(--fs-16);
        align-items: flex-end;
        gap: 2rem;
        /* align-items: center; */
        justify-content: center;
        padding: 0.5rem 1.5rem;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: var(--navy);
        border: 0.5rem solid var(--navy);
        transition: 0.3s ease-in-out;
    }

    .show-contact-btn ion-icon {
        font-size: var(--fs-26);
        opacity: 0.9;
    }

    .show-contact {
        font-size: var(--fs-18);
        font-weight: 500;
        opacity: 0.9;
    }

    .icon-box {
        padding-right: 1rem;
        position: absolute;
        top: 5.5rem;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: var(--fs-16);
        align-items: flex-end;
    }

    .icon-box a ion-icon {
        height: 2.2rem;
        width: 2.2rem;
    }

    .empty {
        display: none;
    }

    .introduction--cart-box {
        grid-template-columns: 1fr 1fr;
        padding: 0 4rem;
        display: grid;
    }

    .notExpanded {
        display: none;
    }

    .expanded {
        display: block;
    }

    .navBar--link {
        opacity: unset;
    }

}

/* 
    BELOW ::::: 62em * 16 = 992 px
    */
@media(max-width: 62em) {
    /* html {
        font-size: 56.25%;
    } */

    .container {
        max-width: 90vw;
        margin: inherit auto;
    }

    .grid--2-col {
        /* grid-template-columns: 1fr; */
        row-gap: 2.4rem;
    }

    .information {
        padding-top: 2rem;
    }

    .grid--3-col {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        row-gap: 3.2rem;
        /* padding: 2rem */
    }

    /* .toggle-container {
        top: 1rem;
        right: 1rem;
    } */
}

/* 
    BELOW ::::: 49em * 16 = 784 px
*/

@media(max-width: 49em) {
    /* html {
        font-size: 56.25%;
    } */

    .container {
        /* max-width: 70rem; */
        margin-top: 10rem;
    }

    /* INTRODUCTION */

    .icon-box a ion-icon {
        height: 2.4rem;
        width: 2.4rem;
    }

    /* ABOUT ME */
    .grid--2-col-equal {
        grid-template-columns: 1fr;
        row-gap: var(--fs-20);
    }

    .doing--cards {
        /* align-items: flex-start; */
        justify-content: flex-start;
    }


    /* SHIFTING NAV TO BOTTOM */

    .nav-shift {
        position: fixed;
        top: 0;
        /* top: calc(100vh);
        transform: translateY(-100%); */
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        z-index: 99;

    }

    .navBar {
        width: inherit;
        align-items: center;
        justify-content: center;
        /* font-size: 2.2rem; */
    }

    .navBar--link {
        color: var(--lighest-slate);

    }

    .navBar--link {
        transition: none;
        /* color: var(--green); */
    }

    /* THIS IS A CLEAR HACK SINCE I AM NOT ABLE TO DISABLE THE CSS HOVER EFFECT */

    .active {
        color: var(--green);
    }


    /* CONTACT FORM  */

    .form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .form * {
        width: inherit;
    }

    .btn {
        align-self: stretch;
        /* height: fit; */
        /* height: auto; */
        /* padding: 1.8rem; */
    }

    /* PROJECT */

    .projectCart {
        grid-template-columns: 1fr;
    }

    .projectCart--info--img-cont--enter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projectCart--info--img {
        width: 60%;
        height: auto;
        /* height: 25rem; */
    }

    .show-contact-btn {
        gap: 1rem;
        padding: 0.5rem 1rem;
        width: fit-content;
    }

    .show-contact-btn ion-icon {
        height: var(--fs-20);
        width: var(--fs-20);
        align-self: center;
        justify-self: center;
    }

    .show-contact {
        font-size: var(--fs-18);
    }

    .toggle-container ion-icon {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        height: 2.5rem;
        width: 2.5rem;
    }
}

/* 
    BELOW ::::: 37em * 16 = 592 px
    */

@media(max-width:37em) {
    html {
        font-size: 56.25%;
    }

    .container {
        max-width: 90vw;
    }

    /* NAV BAR */
    .show-contact {
        display: none;
    }

    .icon-box {
        padding-right: 1.2rem;
    }

    .grid--3-col {
        padding: 0;
    }

    .resumeCardPallete--info--title {
        line-height: 1.1;
    }

    .navBar {
        font-size: var(--fs-20);
    }

    .grid--3-col {
        /* grid-template-columns: 1fr 1fr; */
        column-gap: 3rem;
        row-gap: 2.2rem;
        /* padding: 2rem */
    }

    .map {
        height: 35rem;
    }
}


/* 
    BELOW ::::: 34em * 16 = 544 px
*/

@media(max-width:34em) {
    /* body {
        padding: 2rem 0;

    } */

    .introduction--cart-box {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .container {
        margin-top: 8rem;
    }

    .grid--2-col {
        /* margin-right: 0;
        margin-left: 3.5rem; */
        /* width: 3rem; */
        padding: 0;
    }

    /* NAV BAR */

    .nav-shift {
        flex-grow: 1;
        width: 100vw;
        /* padding: 2rem 0; */
    }

    .navBar {
        font-size: var(--fs-18);
        /* padding: 2rem 0; */
        /* position: absolute;
        top: 0; */
    }

    /* RESSUME */

    .grid--3-col {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    /* NAV SHIFT */
    .projectCart--info--img {
        width: 70%;
    }

    .map {
        height: 30rem;
    }

}

/* 
    BELOW ::::: 29em * 16 = 464 px
*/

@media(max-width: 29em) {

    /* .container {
        margin-top: 7rem;
    } */

    .introduction--top-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .showSmallerMobiles {
        display: contents;
    }

    .navBar {
        font-size: 1.6rem;
        gap: 1.8rem;
        padding-left: 0;
        padding-right: 0;
    }



}